:root {
 --dark-gray: #323232;
 --midnight-blue: #191970;
 --green-mochi: #AAFFA9;
 --night-pearl: #11FFBD;
 --dark-gunmetal: #152a33;
 --true-blue: #0065D2;
 --water: #DDF2FF;
 --sunny: #f9f871;
 --caribbean-green: #00c6aa;
}