{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}

{% block content %}
<section class="list">
  <div class="blog-panel">
    <button class="btn btn--with--icon" data-modal-name="modalPost">
      Add post
      <img src="{% static 'blog_app/img/plus.png' %}" alt="add">
    </button>
    <div id="modalPost" class="modal">
      <div class="modal-content-post">
        <span class="close" data-modal-name="modalPost">&times;</span>
        <h2>Publish post</h2>
        <form action="." method="POST">
          <div class="modal-form-post">
            <div class="modal-form-tags">
              <h3>Tags:</h3>
              <div class="tags">
                {% for tag in forms.post_form.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="modal-form-post-inputs">
              <span class="input input-title">{{ forms.post_form.title }}</span>
              <span class="input input-body">{{ forms.post_form.body }}</span>
            </div>
            {% csrf_token %}
          </div>
          <button type="submit" class="btn btn--green">Publish</button>
        </form>
        <div class="popup">
          <button id="popupTagBtn" class="btn btn--green">New tag</button>
          <div id="popupTag" class="popup-content popup-content--blue">
            <form action="." method="POST">
              <div class="popup-form">
                <label class="form-label">{{ forms.tag_form.name.label }}</label>
                <div class="form-field">
                  {{ forms.tag_form.name }}
                  <button type="submit" class="btn--icon">
                    <img src="{% static 'blog_app/img/plus.png' %}" alt="plus">
                  </button>
                  {% csrf_token %}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<!--     IF SEARCHED BY TAG -->
    {% if tag %}
      <h1>Posts marked with tag "{{ tag.name }}"</h1>
    {% endif %}
<!--     IF SEARCHED BY SEARCH FORM -->
    {% with posts.object_list.count as total_results %}
      {% if query is not None %}
        <h1>Posts included "{{ query }}" - {{ total_results }} post{{ total_results|pluralize:"s" }} has been founded.</h1>
      {% elif total_results == 0 %}
        <h1>Nothing founded for {{ query }}</h1>
      {% endif %}
    {% endwith %}
    <h2 class="total-posts">Totally {% total_posts %} published posts.</h2>
  </div>

  {% for post in posts %}
  <div class="post">
    <div class="information-container">
      <div class="post--information">
        <h3>{{ post.author.first_name }} {{ post.author.last_name }}</h3>
        <time>{{ post.publish|date:"d.m.Y" }}</time>
      </div>

      <div class="post-buttons">
        <img src="{% static 'blog_app/img/comments.png' %}" alt="comment" role="button" class="btn--icon"
          data-modal-name="listModalComment" data-post-id="{{ post.id }}"/>
        <strong>{{ post.comments.count }}</strong>
      </div>

      <div class="comments">
        {% for comment in post.comments.all %}
        <div class="comment">
          <div class="comment--information">
            <h4>{{ comment.name }}</h4>
            <time>{{ post.publish|date:"d.m.Y" }}</time>
            <form action="." method="POST">
              <button class="btn btn--delete" type="submit" name="to-delete-comment" value="{{ comment.id }}">Delete</button>
              {% csrf_token %}
            </form>
          </div>
          <p class="comment-content">{{ comment.body }}</p>
        </div>
        {% empty %}
        <h4 class="comment--no-comment">No comments</h4>
        {% endfor %}
      </div>
    </div>

    <div class="content-container">
      <span class="content-header">
        <a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:60 }}</a>
        <form action="." method="POST">
          <button class="btn btn--delete" type="submit" name="to-delete-post" value="{{ post.id }}">
            <img src="{% static 'blog_app/img/delete.png' %}" alt="delete">
          </button>
          {% csrf_token %}
        </form>
      </span>
      <span class="post-tags">
        {% for tag in post.tags.all %}
        <a class="btn btn--dark" href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
        {% endfor %}
      </span>
      <p>posted on <time>{{ post.publish|date:"d.m.Y" }}</time></p>
      <div class="post-body">
        <p>{{ post.body|markdown }}</p>
      </div>
    </div>
  </div>
  {% empty %}
    <div class="alert alert--warning">
      <img src="{% static 'blog_app/img/warning.png' %}" alt="warning">
      <h2>Please go back to home page and try again.</h2>
      <a href="{% url 'blog:post_list' %}" class="btn btn--white">Go back</a>
    </div>
  {% endfor %}
  <div id="listModalComment" class="modal">
    <div class="modal-content">
      <span class="close" data-modal-name="listModalComment">&times;</span>
      <form action="." method="POST">
        <input type="hidden" id="postId" name="post-id" value="">
        <div class="modal-form">
          <h2>Add comment</h2>
          {% for field in forms.comment_form %}
          <div class="modal-form-field">
            <label class="form-label">{{ field.label }}</label>
            <span class="form-field">{{ field }}</span>
          </div>
          {% endfor %}
          {% csrf_token %}
          <button type="submit" class="btn btn--green">Comment</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}