{% extends "blog/base.html" %}

{% block content %}
{% if sent %}
<h1>An email message has been sent.</h1>
<p>The post "{{ post.title }}" has been successfully sent to the {{ form.cleaned_data.to }}.</p>
{% else %}
<h1>Share "{{ post.title }}" by an email message.</h1>
<form action="." method="post">
  {% for field in form %}
  <div>
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}
  </div>
  {% endfor %}
  {% csrf_token %}
  <button type="submit">Send</button>
</form>
{% endif %}
{% endblock %}