{% load static %}
<nav class="nav_bar">
  <div class="container">
    <h2>Marcin Chudzik</h2>
    {% if posts %}
    <form class="search-bar" method="POST">
      <button type="submit" class="btn--search">
        <img src="{% static 'blog_app/img/loupe.png' %}" alt="search">
      </button>
      {{ forms.search_form.query }}
      {% csrf_token %}
    </form>
    {% endif %}
    <div class="nav-links">
      <a href="{% url 'blog:post-list' %}" aria-label="main-page">
        <h1>My blog</h1>
      </a>
      <a href="{% url 'blog:post-feed' %}" aria-label="blog-feed">
        <span>>></span>Subscribe channel RSS<span><<</span>
      </a>
    </div>
  </div>
</nav>